<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>투표를 합시당</h1>
	<a href="/result">전체결과 보기</a>

	<form action="/vote">
		이름 : <input type="text" name="user"><br>
		사과 : <input type="radio" name="vote" value="사과"><br>
		수박 : <input type="radio" name="vote" value="수박"><br>
		귤 : <input type="radio" name="vote" value="귤"><br>
		<input type="submit">
	</form>
</body>
</html>