<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>투표 결과</h1>
	<p><%= @user %>님이 <%= @vote %>를 투표 했습니다.</p>
	<a href="/">홈으로 가기</a>
	<br>
	<a href="/result">전체결과 보기</a>
</body>
</html>