<!DOCTYPE html>
<html>
<head>
	<title>점심메뉴는!!</title>
<style>
	p{
		color : white;
	}
	body{
		background-color: black;
	}
</style>
</head>
<body>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA0ztnVGajmRUo6FyLqk7yVBPIDWChjUe7sLhmubUD_hs9qY7Jhw">
	<p><%= @menu %></p>
</body>
</html>