<h1>로그인</h1>
<form action="/user/login_process" method="post">
   이메일 입력 : <input type="text" name="email" ><br>
   비밀번호입력 : <input type="password" name="password"><br>

   <input type="submit" value="제출">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

</form>
