<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="/">처음으로</a>
	<h1>검색결과입니다.</h1>
	<h3>id : <%= @id %></h3>
	<h3>승 : <%= @win %></h3>
	<h3>패 : <%= @lose %></h3>
	<h3>티어 : <%= @tier %></h3>
</body>
</html>