<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>뭐든지 검색합니다. 네이버로</h1>
	<form action="https://search.naver.com/search.naver" method="get">
		<input type="text" name="query">
		<input type="submit" value="검색하기">		
	</form>

	<h1>뭐든지 검색합니다. 구글로</h1>
	<form action="https://www.google.co.kr/search" method="get">
		<input type="text" name="query">
		<input type="submit" value="검색하기">		
	</form>

	<h1>롤</h1>
	<form action="http://www.op.gg/summoner/" method="get">
		<input type="text" name="userName">
		<input type="submit" value="검색하기">		
	</form>

</body>
</html>